html {
    font-size: 10px;
}

body {
    padding-top: 0px;
    box-sizing: border-box;
    min-height: 100Vh;
    position: relative;
    padding-bottom: 7rem;
}

div.navbar {
    border-radius: 0px !important;
}

header {
    height: 100px;
    background-image: url('../../Images/hospitalbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


    header div {
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.6;
        display: flex;
        align-items: center;
        justify-content: center;
    }

#header-text {
    text-align: center;
    color: red;
    letter-spacing: 0.5rem;
    font-weight: bold;
    font-size: 3.2rem;
}

footer {
    background-color: #222;
    border-color: #080808;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0px;
}

    footer p {
        text-align: center;
        color: white;
        margin: 0px;
        padding: 1rem 0;
    }


/*about page*/
#myCarousel.carousel {
    margin: 3rem 0;
    border: 0.5rem black solid;
    border-radius: 1rem;
}


#myCarousel .carousel-caption {
    font-size: 3rem;
    color: black;
}

.carousel-indicators li {
    background-color: #080808;
    border: 1px solid #080808;
}

#Carousel1 {
    height: 40rem;
    background-image: url('../../Images/CarouselImg1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#Carousel2 {
    height: 40rem;
    background-image: url('../../Images/CarouselImg2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#Carousel3 {
    height: 40rem;
    background-image: url('../../Images/CarouselImg3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.box {
    padding: 40px 20px;
    border-radius: 40px;
    position: relative;
}


    .box::before {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        backdrop-filter: blur(8px) saturate(100%) contrast(45%) brightness(130%) !important;
        border-radius: 50px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.418);
    }
